name: Tests

# Test on all pushes, except when the push is literally just a tag (because we
# tag automatically via CI, and therefore there's no extra code in that push).
on:
  pull_request:


jobs:
  tests:
    env:
      ENV_NAME: tests
      PYTHON: ${{ matrix.python-version }}
      OS: ${{ matrix.os }}
    name: Testing
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup Environment
        run: |
          pip install -U coverage
          pip install .[dev]
      - name: Run Tests
        run: |
          python -m pytest --cov edges --cov-report xml:./coverage.xml
      - uses: codecov/codecov-action@v5
        if: matrix.os == 'ubuntu-latest' && success()
        with:
          file: ./coverage.xml #optional
          verbose: true
          fail_ci_if_error: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  warnings_tests:
    env:
      PYTHON: ${{ matrix.python-version }}
      OS: ${{ matrix.os }}
    name: Warnings Tests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.11", "3.13"]
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup Environment
        run: |
          pip install -U coverage
          pip install .[dev]
      - name: Run Tests
        run: |
          python -W error -m pytest
