name: Tests

# Test on all pushes, except when the push is literally just a tag (because we
# tag automatically via CI, and therefore there's no extra code in that push).
on:
  pull_request:


jobs:
  tests:
    env:
      ENV_NAME: tests
      PYTHON: ${{ matrix.python-version }}
      OS: ${{ matrix.os }}
    name: Testing
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.11", "3.12", "3.13"]
        testtype: ['warnfail', 'standard']
        exclude:
          - os: macos-latest
            testtype: 'warnfail'
          - os: ubuntu-latest
            python-version: "3.12"
            testtype: 'warnfail'
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup Environment
        run: |
          pip install -U coverage
          pip install .[dev]

      - name: Get Platform Cache Directory
        run:  echo "USER_CACHE_DIR=$(python -c "from platformdirs import user_cache_dir; print(user_cache_dir('edges'))")" >> $GITHUB_ENV

      - name: Setup Cached Data Files
        uses: actions/cache@v5
        with:
          path: "$USER_CACHE_DIR/**/*"
          key: "pooch-cache"
      - name: Run Tests
        run: |
          if [ "${{ matrix.testtype }}" = "warnfail" ]; then
            python -W error -m pytest;
          else
            python -m pytest --cov edges --cov-report xml:./coverage.xml
          fi
      - uses: codecov/codecov-action@v5
        if: matrix.os == 'ubuntu-latest' && success()
        with:
          file: ./coverage.xml #optional
          verbose: true
          fail_ci_if_error: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
